
<div id="contact-view" class="container-fluid">
  <div id="contact-div-main" class="row">
    <div class="col-md-6"><img src="images/vaughan_with_sign.jpg" alt="Vaughan with Sign" class="img-rounded"></div>
    <div class="col-md-6">
      <div class="row">
        <h2><i class="fa fa-mobile">&nbsp; 615.818.6656</i></h2>
        <h2><i class="fa fa-phone">&nbsp; 615.596.6544</i></h2>
        <h3><a href="https://www.facebook.com/profile.php?id=100009129488626"><i class="fa fa-facebook-official">&nbsp; facebook</i></a></h3>
        <h3><i class="fa fa-instagram">&nbsp; instagram</i></h3>
        <h3><i class="fa fa-envelope-o">&nbsp; upandgobbq@outlook.com</i></h3>
      </div>
      <div class="row">
        <form>
          <h1>Send Vaughan a Message</h1>
          <div class="form-group">
            <label control-label class="col-sm-2">Name</label>
            <div class="col-sm-9">
              <input id="name" placeholder="bob smith" type="test" name="name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label control-label class="col-sm-2">Email</label>
            <div class="col-sm-9">
              <input id="email" placeholder="bob@aol.com" type="email" name="email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label control-label class="col-sm-2">Phone</label>
            <div class="col-sm-9">
              <input id="phone" placeholder="867.5309" name="phone" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label control-label class="col-sm-2">Message</label>
            <div class="col-sm-9">
              <textarea id="message" placeholder="send me some awesomeness" name="message" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>