
<div id="contact-view" class="container-fluid">
  <div id="contact-div-main" class="row">
    <div class="col-md-6"><img src="images/vaughan_with_sign.jpg" alt="Vaughan with Sign" class="img-rounded"></div>
    <div class="col-md-6">
      <div class="row">
        <h2><i class="fa fa-mobile">&nbsp; 615.818.6656</i></h2>
        <h2><i class="fa fa-phone">&nbsp; 615.596.6544</i></h2>
        <h3><a href="https://www.facebook.com/profile.php?id=100009129488626"><i class="fa fa-facebook-official">&nbsp; facebook</i></a></h3>
        <h3><i class="fa fa-instagram">&nbsp; instagram</i></h3>
        <h3><i class="fa fa-envelope-o">&nbsp; upandgobbq@outlook.com</i></h3>
      </div>
      <div class="row">
        <h1>Catering</h1>
        <h2>Available with 1 day of advanced notice</h2>
        <h3>Back Yard Bar B Q's * Wedding Receptions</h3>
        <h3>Business Dinners & Lunches</h3>
        <h3>Family Reunions * Church Gatherings</h3>
      </div>
    </div>
  </div>
</div>