doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='index.css' type='text/css')
    link(rel='shortcut icon' type='image/x-icon' href='images/favicon.ico')
    title Up and Go BBQ
  body(ng-app='bbqApp')
    .nav-container.navbar-fixed-top
      nav.navbar.navbar-inverse
       .container-fluid
         .navbar-header
           button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
           a.navbar-brand(ui-sref='home'): i.fa.fa-heart-o &nbsp; Up and Go BBQ
         #navbar.collapse.navbar-collapse
           ul.nav.navbar-nav.navbar-right
             li: a(ui-sref='home'): i.fa.fa-home &nbsp; Home
             li: a(ui-sref='menu'): i.fa.fa-cutlery &nbsp; Menu
             li: a(ui-sref='schedule'): i.fa.fa-map-marker &nbsp; Find Vaughan
             li: a(ui-sref='contact'): i.fa.fa-envelope-o &nbsp; Contact
  
  div(ui-view)

      
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/lodash/lodash.js')
    script(src='vendor/firebase/firebase.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.js')
    script(src='index.js')
    script(src='models/users.js')
