doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='css/style.css' type='text/css')
    title Best Reviews
  body
    h1 Hello World!

    script(type='text/javascript' src='vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='vendor/lodash/lodash.js')
    script(type='text/javascript' src='vendor/angular/angular.js')
    script(type='text/javascript' src='scripts/main.js')
