@import '../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(http://fonts.googleapis.com/css?family=Russo+One);

/////////////////////////////// SCHEDULE VIEW ///////////////////////////////////

#schedule-view {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  padding: 5% 0 20%;
  background-image: url('images/googlemap.png');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;


  h1 {
    font-size: 10rem;
    padding: 2%;
  }

  h2 {
    font-size: 3rem;
  }

  .schedule-list {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2% 0;
  }

}


/////////////////////////////// MENU VIEW ///////////////////////////////////

#menu-view {
  padding-top: 70px;
  text-align: center;
  font-family: 'Russo One', sans-serif;

  h1 {
    font-size: 10rem;
    padding: 2%;
  }

  h2 {
    font-size: 5rem;
  }

  .menu-list {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .menu-item {
    margin: 2%;
    padding: 2%;
  }

  h3 {
    display: inline-block;
    padding: 2%;
    font-size: 3rem;
  }
}

/////////////////////////////// CONTACT VIEW ///////////////////////////////////

#contact-view {
  padding-top: 70px;
  text-align: center;

  #contact-div-main {
    img {
      margin: 5% 0;
    }
  }

  form {
    padding: 5% 0;
  }

  .form-group {
    padding: 3% 0;
  }

  button {
    margin: 1%;
    padding: 1% 5%;
    font-size: 2rem;
  }


  h2, h3 {
    font-size: 2rem;
  }


}


/////////////////////////////// HOME VIEW ///////////////////////////////////

#home-view {
  text-align: center;
  color: white;
  margin: 0;
  font-family: 'Russo One', sans-serif;

  #home-div-main {
    padding: 15% 0 20%;
    background-image: url('images/pit_both_sides_open.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;

    h2 {
      font-size: 15rem;
    }

    h3 {
      font-size: 5rem;
    }
  }

  .home-info {
    padding: 1% 0;
    margin: 1%;

    h1 {
      padding: 5% 0;
      margin: 5% 2%;
      font-size: 5rem;
      color: black;
    }
  }


}


/////////////////////////////// NAV ///////////////////////////////////

.navbar {
  height: 100%;
  margin: 0;
}

///////////////////////////////HTML///////////////////////////////////

body {
  background-color: #edefed;
}
