@import '../public/vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

h1 {
  color: blue;
}

///////////////////////////////HOME VIEW///////////////////////////////////

#home-view {
  padding-top: 80px;
  margin: 3% 0;
  height: 100%;
  background-image: url('images/pit_both_sides_open.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;

  .h3-home {
    font-size: 10rem;
    text-align: center;
  }

}

/////////////////////////HTML FORM/////////////////////////////
form {
  input {
    background-color: #edefed;
  }

  td {
    padding: 2%;
  }

  .ng-invalid {
    background-color: red;
    color: white;
  }
}
  ///////////////////////////////HTML///////////////////////////////////

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

body {
  background-color: #edefed;
}
