#contact-view.container-fluid
  #contact-div-main.row
    .col-md-6
      img.img-rounded(src="images/vaughan_with_sign.jpg" alt='Vaughan with Sign' data-toggle='modal' data-target='#vaughanModal')
    .col-md-6
      .row
        h2: i.fa.fa-mobile &nbsp; 615.818.6656
        h2: i.fa.fa-phone &nbsp; 615.596.6544
        h3: a(href='https://www.facebook.com/profile.php?id=100009129488626'): i.fa.fa-facebook-official &nbsp; facebook
        h3: i.fa.fa-instagram &nbsp; instagram
        h3: i.fa.fa-envelope-o &nbsp; upandgobbq@outlook.com
      .row
        h1 Catering
        h2 Available with 1 day of advanced notice
        h3 Back Yard Bar B Q's * Wedding Receptions
        h3 Business Dinners & Lunches
        h3 Family Reunions * Church Gatherings
        
#vaughanModal.modal(tabindex='-1' role='dialog' aria-hidden='true' aria-labelledby='vaughanModalLabel')
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        button(type='button' class='close' data-dismiss='modal' aria-label='Close'): span(aria-hidden='true')&times;
        img(src="images/vaughan_with_sign.jpg" alt='Vaughan with Sign' height=700 width=850)


        //- form
        //-   h1 Send Vaughan a Message
        //-   .form-group
        //-     label.col-sm-2(control-label) Name
        //-     .col-sm-9
        //-       input#name.form-control(placeholder='your name' type='test' name='name')
        //-   .form-group
        //-     label.col-sm-2(control-label) Email
        //-     .col-sm-9
        //-       input#email.form-control(placeholder='bob@ilovebbq.com' type='email' name='email')
        //-   .form-group
        //-     label.col-sm-2(control-label) Phone
        //-     .col-sm-9
        //-       input#phone.form-control(placeholder="your number" name='phone')  
        //-   .form-group
        //-     label.col-sm-2(control-label) Message
        //-     .col-sm-9
        //-       textarea#message.form-control(placeholder="Talk to me. Tell me what you think..." name='message')
        //-   .form-group
        //-     button.btn.btn-success Submit
