#home-view.container-fluid
  #home-div-main.row
    h2 Up and Go BBQ
    h3 313 is 220
    h3 Bringing Northern Cooking to the South
  .row.home-info
    .col-md-2
    .col-md-8
      .row
        #happy-customers.col-md-6.home-info-image
          h1 happy faces
        #open-fire.col-md-6.home-info-image
          h1 open flames
      .row
        #vaughan-grill.col-md-12.home-info-image
          h1 with Vaughan at the Grill
    .col-md-2
  
