.container-fluid
  .row
    h3.h3-home.col-md-9 write some text...
  .row
    h2.h2-home.col-md-9 while you still can
  .row
    .col-md-9
      button.btn.btn-success.btn-lg.btn-home Get Started
  
  video(loop='' poster='' autoplay='')
    source(src='images/travelMontage.mp4' type='video/mp4')
