#home-view.container-fluid
  #home-div-main.row
    h2 Up and Go BBQ
    h3 313 is 220
    h3 Bringing Northern Cooking to the South
  .row.home-info
    .col-md-2
    .col-md-8
      .row
        #vaughan-grill.col-md-6.home-info-image
          h1 Vaughan cooks it up...
        #open-fire.col-md-6.home-info-image
          h1 over an open flame...
      .row
        #happy-customers.col-md-12.home-info-image
          h1 and serves it up fresh
    .col-md-2
  
