#home-view.container-fluid
  #home-div-main.row
    .col-md-9
      h2 Up and Go BBQ
      h3 313 is 220
  .row.home-info
    .col-xs-6
      img.img-rounded(src="images/vaughan_with_grill.jpg" alt='Vaughan with Grill' width='400' height='300')
    .col-xs-6
      h1 Vaughan cooks it up...
  .row.home-info
    .col-xs-6
      h1 over an open flame...
    .col-xs-6
      img.img-rounded(src="images/open_fire.jpg" alt='Open Fire' width='400' height='300')
  .row.home-info
    .col-xs-6
      img.img-rounded(src="images/happy_customers.jpg" alt='Happy Customers' width='400' height='300')
    .col-xs-6
      h1 and serves it up fresh for you!

  
