.container-fluid
  .row
    h1 Menu
    ul
      li Ribs
      li Chicken
      li Pulled Pork
      li Fish
      li Drinks
      li Hamburger
      li Sausage
      li Bologna
      li Chips
      li Side Varies (Day-to-Day)
