#schedule-view.container-fluid
  .row
    h1 Location & Schedule
  .row.schedule-list
    h2 Convenienty located at the corner of Nolensville and Harding Place
    h3 Easily accessible in the old Kmart parking lot behind Hardee's
    h2 Monday - Friday 
    h2 10am - 6pm
    h3 For the most up to date schedule, call or text 615.818.6656 
  .row
    h2 Catering
    h3 Available with 1 day of advanced notice
    h4 Back Yard Bar B Q's * Wedding Receptions
    h4 Business Dinners & Lunches
    h4 Family Reunions * Church Gatherings
