#schedule-view.container-fluid
  h2 Come see Vaughan at the corner of Nolensville and Harding Place
  h2 Monday - Saturday 
  h2 11am - 3pm
  h3 For the most up to date schedule, call or text 615.818.6656 
